<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:transaction="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
  <aop:aspectj-autoproxy/>

  <bean id="exampleDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
    <property name="defaultAutoCommit" value="false"/>
    <property name="driverClass" value="org.h2.Driver"/>
    <property name="jdbcUrl" value="jdbc:h2:mem:example"/>
    <property name="password" value=""/>
    <property name="username" value="sa"/>
    <property name="idleConnectionTestPeriodInSeconds" value="120"/>
    <property name="idleMaxAgeInSeconds" value="240"/>
    <property name="maxConnectionsPerPartition" value="5"/>
    <property name="minConnectionsPerPartition" value="1"/>
    <property name="partitionCount" value="1"/>
    <property name="acquireIncrement" value="1"/>
    <property name="statementsCacheSize" value="100"/>
  </bean>

  <bean id="sampleDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
    <property name="defaultAutoCommit" value="false"/>
    <property name="driverClass" value="org.h2.Driver"/>
    <property name="jdbcUrl" value="jdbc:h2:mem:sample"/>
    <property name="password" value=""/>
    <property name="username" value="sa"/>
    <property name="idleConnectionTestPeriodInSeconds" value="120"/>
    <property name="idleMaxAgeInSeconds" value="240"/>
    <property name="maxConnectionsPerPartition" value="5"/>
    <property name="minConnectionsPerPartition" value="1"/>
    <property name="partitionCount" value="1"/>
    <property name="acquireIncrement" value="1"/>
    <property name="statementsCacheSize" value="100"/>
  </bean>

  <bean id="exampleEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="exampleDataSource"/>
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect"/>
        <property name="generateDdl" value="true"/>
        <property name="showSql" value="true"/>
      </bean>
    </property>
    <property name="packagesToScan" value="org.example.domain"/>
    <property name="persistenceUnitName" value="example"/>
  </bean>

  <bean id="sampleEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="sampleDataSource"/>
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect"/>
        <property name="generateDdl" value="true"/>
        <property name="showSql" value="true"/>
      </bean>
    </property>
    <property name="packagesToScan" value="com.sample.domain"/>
    <property name="persistenceUnitName" value="sample"/>
  </bean>

  <bean id="exampleTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="exampleEntityManagerFactory"/>
  </bean>

  <bean id="sampleTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="sampleEntityManagerFactory"/>
  </bean>

  <context:annotation-config/>
  <context:component-scan base-package="org.example"/>

  <jpa:repositories base-package="org.example.data"
                    entity-manager-factory-ref="exampleEntityManagerFactory"
                    transaction-manager-ref="exampleTransactionManager"/>
  <jpa:repositories base-package="com.sample.data"
                    entity-manager-factory-ref="sampleEntityManagerFactory"
                    transaction-manager-ref="sampleTransactionManager"/>

  <transaction:annotation-driven transaction-manager="exampleTransactionManager"/>
  <transaction:annotation-driven transaction-manager="sampleTransactionManager"/>
</beans>
